body {
      background-color: rgb(219, 219, 219);
      max-width: 1170px;
      margin: auto auto;
      padding: 0;
      text-align: center;
    } 

    .form-group{
          margin-top: 10px;
          
    }
    .btn{
          margin-top: 10px;
    }